In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("iris_dataset.csv")
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [25]:
sepal = df[["sepal length (cm)" , "sepal width (cm)"]]
target = df[["target"]]

ptest = sepal.iloc[149]
ptest_target = target.iloc[149]

sepal_train = sepal.iloc [ : 149 ] 
target_train = target.iloc [ : 149 ]

print("Test sample: \n", ptest)
print("Real class: \n", ptest_target)

Test sample:
 sepal length (cm)    5.9
sepal width (cm)     3.0
Name: 149, dtype: float64
Real class:
 target    2
Name: 149, dtype: int64

In [35]:
import numpy as np

distances = []

for i in range(len(sepal_train)):
    point = sepal_train.iloc[i]
    dist = np.sqrt((point[0] - ptest[0])**2 + (point[1] - ptest[1])**2)
    distances.append(dist)

min_index = np.argmin(distances) 
predicted_class = target_train.iloc[min_index][0]

print(" Ptest class:", predicted_class)

 nearest neighbor ndex: 61
 Ptest class: 1

C:\Users\yassi\AppData\Local\Temp\ipykernel_20012\701877987.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dist = np.sqrt((point[0] - ptest[0])**2 + (point[1] - ptest[1])**2)
C:\Users\yassi\AppData\Local\Temp\ipykernel_20012\701877987.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  predicted_class = target_train.iloc[min_index][0]

In [44]:
k = 3
nearest_indices = np.argsort(distances)[:k] 

nearest_classes = target_train.iloc[nearest_indices].values.flatten()

values, counts = np.unique(nearest_classes, return_counts=True)
predicted_class_k3 = values[np.argmax(counts)]

print("Classes 3 nearest neighbors:", nearest_classes)
print("Predicted class k=3:", predicted_class_k3)

Classes 3 nearest neighbors: [1 2 1]
Predicted class k=3: 1